<h2>Add a Burger</h2>
<form class="mt-3 create-form">
	<div class="form-group">
		<input placeholder="Add your burger" class="p-3 w-75 bg-dark rounded text-white" type="text" id="ca" name="name"
			style="border:none; height:50px;">
		<button class="ml-3 btn text-white bg-warning" type="submit">
			<h3>Add A <br>Burger</h3>
		</button>
	</div>



</form>