{{!-- Spcaing --}}
<div class="mt-5"></div>

{{!-- Heading --}}
{{> heading}}

<div class="row">
	<div class="col-6">
		{{!-- Add Burger - Col 01 --}}
		{{> addBurger}}
	</div>
	<div class="col-6">
		{{!-- Add Burger - Col 01 --}}
		{{> menuBurger}}
	</div>
</div>

{{!-- <h1>{{#each burger_name }}</h1> --}}