body {
    background: #1a1a1a;
    color: white;
}

h1 {
    font-family: 'Bowlby One SC', sans-serif;
    text-shadow: -3px 5px #ffc875;
    font-weight: bolder;
}

h2 {
    font-family: 'Bowlby One SC', sans-serif;
    text-shadow: -3px 5px #ffc875;
    font-weight: bolder;
}

h3 {
    font-family: 'Bowlby One SC', sans-serif;
    font-weight: bolder;
    padding-top: 5px;
    font-size: .7em;
    line-height: 1.2em;
}

li {
    font-family: 'Bowlby One SC', sans-serif;
    font-size: 1.1em;
}

.label {
    font-weight: bold;
}

.create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
}

.form-group {
    margin-bottom: 5px;
}